  
@import '~bootstrap/scss/bootstrap';



section {
    text-align: center;
    background-color:  pink
}
.h1{
    text-align: center;

}

.game-container {
  text-align:center;
    display: grid;
  border: 30px;
  border-style: 20px ridge grey;
    grid-template-columns: repeat(3, auto);        
     width: 400px;
    margin: 50px auto;
  ;
}

.cell {
  text-align: center;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0 1px #333333;
    border: 10px solid #333333;
    cursor: cell;
    line-height: 90px;
    font-size: 90px;
}