  
@import '~bootstrap/scss/bootstrap';



section {
    text-align: center;
    background-color:  pink
}

.game-title {
  box-shadow: 0px 20px 8px #a3c40d;
}
.h1{
    text-align: center;

}

.game-container {
  text-align:center;
    display: grid;
  border: 30px;
  border-style: 20px ridge grey;
    grid-template-columns: repeat(3, auto);        
     width: 400px;
    margin: 50px auto;
  ;
}

.cell {
  text-align: center;
    width: 150px;
    height: 150px;
    box-shadow: 10px 5px  20px #2f0dc4;
    border: 10px solid #cf1582;
    cursor: cell;
    line-height: 90px;
    font-size: 90px;
}