section {
    text-align: center;
}

.game-container {
   border: 1px;
  margin: 50px auto;
    grid-template-columns: repeat(3, auto);         
    width: 400px;
    display: grid;
    
  
}

.cell {
    width: 150px;
    height: 150px;
    border: 10px solid #ff2abf;
    cursor: cell;
    line-height: 90px;
    font-size: 90px;
}